//Values section

.numbered-list {
  &__title {
    h4 {
      color: $black;
      margin-right: 15%;
      margin-bottom: 40px;
    }
    @include media-breakpoint-down (md) {
      h4 {
        margin-right: 0;
      }
    }
  } 
  &__text-wrap {
    border-left: 4px solid #2E3690;
    margin-left: 24px;
  }
  &__text {
    padding-left: 34px;
  }
}








.highlighting-block {
  position: relative;
  &__hex {
    position: absolute;
    left: -16%;
    top: 0;
    @include media-breakpoint-up (md) {
      left: -4%;
    }
    @include media-breakpoint-up (lg) {
      left: 10%;
      top: 4%;
    }
  }
  .title-3 {
    font-weight: 500;
  }
  h4 {
    font-weight: 400;
    margin-left: 2rem;
    @include media-breakpoint-up (md) {
      margin-left: 3rem;
    }
    @include media-breakpoint-up (lg) {
      margin-left: 4rem;
    }
  }
}
