.debrief-footer {
  background-color: $light-gray;
  color: #bbbbbb;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;

}

.copyright-text {
  color: $text-gray;
  font-weight: 300;
  font-size: $font-size-sm;
  @include media-breakpoint-down (sm)  {
    padding-bottom: 15px;
    text-align: center;
  }
  a {
    color: $text-gray;
    @include hover-focus-active {
      text-decoration: none;
      color: $text-dark;
    }
  }
}

.footer-navbar__nav-link {
  font-size: 0.8125rem;
  padding: 8px 24px;
  color: $black;
}

@include media-breakpoint-down (sm) {
  .footer-social--md {
    display: none;
  }
  .footer-navbar__logo--md {
    display: none;
  }
}
@include media-breakpoint-up (md) {
  .footer-navbar__logo--sm {
    display: none;
  }
}


.nav-socials {
  @include media-breakpoint-down (sm) {
    padding-top: 10px;
    padding-bottom: 10px; 
  }
  &__text {
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 12px;
  }
  &__link {
    color: $dark-gray;
    border: 1px solid $dark-gray;
    @include media-breakpoint-up (md) {
      border-color: $dropdown-divider-bg;
    }
    border-radius: 50%;
    line-height: 26px;
    width: 28px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    margin-right: 3px;
    transition: all .9s ease 0s;
    @include hover {
      color: #f7f7f7;
    }
    &--twitter:hover {
      background: #00acee;
    }
    &--facebook:hover {
      background: #3B5998;
    }
  }
}