// Header pages
.header-block {
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 20px 200px;
  overflow: hidden;
  p {
    @include media-breakpoint-up (md) {
      padding-right: 3rem;
    }
  }
  &__home {
    background-size: 52%;
    background-image: url(../images/dbc_ship_sea.svg);
    background-position: 129% 11%;
    @media (min-width: 480px) {
      background-position: 129% top;
    }
    @include media-breakpoint-up (md) {
      background-size: 63%;
      background-position: 105% bottom;
    }
    @media (min-width: 1500px) {
      background-size: contain; 
    }
  }
  &__about {
    background-size: 53%;
    background-image: url(../images/shark_header_bg.png);
    background-position: 100% 9%;
    @media (min-width: 480px) {
      background-size: 46%;
      background-position: 82% top;
    }
    @include media-breakpoint-up (md) {
      background-size: 63%;
      background-position: 102% bottom;
    }
    @media (min-width: 1500px) {
      background-size: contain; 
    }
  }
  &__debrief {
    background-size: 354px 252px;
    background-image: url(../images/dbc_ship_debrief_bg.svg);
    background-position: top -6% right 600%;
    @media (min-width: 380px) {
      background-position: top -6% right -68%;  
    }
    @media (min-width: 480px) {
      background-position: top -6% right -68%;  
    }
    @include media-breakpoint-up (md) {
      background-size: 1418px 1010px;
      background-position: bottom 0 left -210%;
    }
    @media (min-width: 1500px) {
      background-size: 158%;
      background-position: bottom 10% right 170%;
    }
    @media (min-width: 2000px) {
      background-size: 110%;
      background-position: bottom 10% right 530%;
    }
    h1 {
      @include media-breakpoint-up (md) {
         br {
          display: none;
        }
      }
    }
  }
}



// Portfolio blocks
.pf-section {
  &__text {
    span {
      color: $primary;
      font-weight: 700;
    }
  }
}



// Form search 
.form-search {
  &__input {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
  }
  .input-group-prepend {
    .form-search__btn {
      font-size: 14px;
      line-height: 1.42857143;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

