// Header pages
.header-page {

  background-position: 105% bottom;
  background-repeat: no-repeat;
  background-size: 63%;
  background-image: url(../images/dbc_ship_sea.svg);
  position: relative;
  padding: 50px 20px;
  overflow: hidden;
  box-shadow: 1px 0 1px rgba(50,50,50,0.15) inset;
  @include media-breakpoint-down (sm) {
    background-size: 52%;
    background-position: 129% 11%;
  }
  @media (min-width: 1500px) {
    background-size: contain; 
  }
  &__title {
    background-color: rgba(0, 0, 33, 0.4);
    padding: 10px 15px;
    color: $white;
    font-weight: 300;
    margin: 20px auto 10px;
    animation: fadeInDown 0.7s linear 1;
  }
}



@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}




// Form search 
.form-search {
  &__input {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
  }
  .input-group-prepend {
    .form-search__btn {
      font-size: 14px;
      line-height: 1.42857143;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

