// Header pages
.header-block {
  background-repeat: no-repeat;
  position: relative;
  padding: 50px 20px;
  overflow: hidden;
}

.home-page {
  background-position: 105% bottom;
  background-size: 63%;
  background-image: url(../images/dbc_ship_sea.svg);
  @include media-breakpoint-down (sm) {
    background-size: 52%;
    background-position: 129% 11%;
  }
  @media (min-width: 1500px) {
    background-size: contain; 
  }
}

// Portfolio blocks
.pf-section {
  &__text {
    span {
      color: $primary;
      font-weight: 700;
    }
  }
}












@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}




// Form search 
.form-search {
  &__input {
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
  }
  .input-group-prepend {
    .form-search__btn {
      font-size: 14px;
      line-height: 1.42857143;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

