// Navbar
.navbar-wrapper {
  height: 77px;
}
.header-navbar {
  font-weight: 300;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
  background: rgba(255,255,255,.9);
  &__toggler {
    @include media-breakpoint-only (md) {
      margin-right: 80px;
    }
  }
  &__nav {
    @media (min-width: 992px) and (max-width: 1260px) {
      padding-right: 60px;
    }
  }
  &__nav-link {
    color: $text-dark;
    @include media-breakpoint-down (md) {
      padding: 10px 15px !important;
    }
    @include hover-focus {
      color: $primary;
      font-weight: 500;
    }
    &.active {
      color: $primary;
    }
  }

  .show {
    .header-navbar__nav-link {
    }
  }
  .dropdown-toggle::after {
    margin-left: 0.4em;
    vertical-align: middle;
  }
  .dropdown-menu {
    @include media-breakpoint-down (md) {
      border: none;
    }
  }
  &__dropdown-item {
    font-weight: 300;
    color: $navbar-light-color;
    font-size: 0.933333333rem;
    line-height: 1.428571429;
    @include hover-focus {
      background-color: $primary;
      color: $white
    }
    @include media-breakpoint-up (lg) {
      color: $body-color;
    }
  }
  .nav-item--search  {
    .dropdown-toggle:visited {
    }
    .dropdown-toggle::after {
      display: none;
    }
    .form-search {
      .input-group {
        min-width: 17.066666667rem;
      }
    }
  }
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}